*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bg{
    height: auto;
    background: linear-gradient(rgba(192, 152, 152, 0.1),rgba(67, 88, 105, 0.5)), url("https://www.wallpapertip.com/wmimgs/237-2374066_iot-wallpaper.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-section{
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: white;
}
header{
    height: 30%;
    padding-top: 15px;
    background: linear-gradient(to left, rgb(218, 218, 228, 0.9),rgba(255,255,255,0.7)), url("https://fsd.kopilkaurokov.ru/up/html/2020/11/23/k_5fbb41e461c1a/564153_1.png");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid darkcyan; */
}
header .lang{
    text-align: end;
}
header .lang ul li{
    display: inline-block;
    margin-right: 25px;
}
header .lang ul li a{
    color: brown;
    padding: 5px 25px;
    transition: 0.5s;
    text-decoration: none;
    border: 1px solid brown;
}
header .lang ul li a:hover{
    color: aliceblue;
    background-color:  hsl(299, 100%, 40%);
}
.brand-section{
    overflow: hidden;
}
.brand-section .brand, .brand-section .contact{
    width: 50%;
    height: 150px;
    display: inline-flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.brand-section .brand{
    float: left;
}
.brand-section .brand .brand-img, .brand-section .brand .brand-name{
    display: inline-flex;
    /* border: 1px solid maroon; */
} 
.brand-section .brand .brand-img{
    padding-left: 30px;
    width: 30%;
}
.brand-section .brand .brand-name span{
    padding: 25px 5px;
    font-size: 1.9em;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.brand-section .contact{
    float: right;
}
.brand-section .contact .number{
    width: 100%;
    padding-right: 20px;
    text-align: end;
    /* border: 1px solid brown; */
}
.brand-section .contact .number ul li{
    font-size: 2em;
    color: darkorchid;
}
.brand-section .contact .number ul li span{
    font-size: 17px;
    margin-right: 5px;
}
.brand-section .contact .number ul li:first-child{
    font-size: 1.5em;
    font-weight: bolder;
}
nav{
    margin: 15px 0;
    padding: 10px 0;
    overflow: hidden;
    position: sticky;
    background-color: rgb(120, 58, 219);
}
.base{
    overflow: hidden;
}
#sidebar{
    left: 10%;
    width: 20%;
    float: left;
    height: auto;
    display: none;
    transition: 1s;
    margin-left: -500px;
    background-color: rgb(173, 109, 233);
}
#sidebar ul{
    padding: 0;
}
#sidebar ul li{
    padding: 10px 15px;
    transition: 0.7s;
    /* border: 1px solid red; */
}
#sidebar ul li a{
    color: white;
    padding: 10px 0px;
    text-decoration: none;
}
#sidebar ul li:hover{
    padding-left: 25px;
    background: linear-gradient(to right, rgba(196, 119, 119, 0.1), rgb(206, 133, 133, 1));
}
.main{
    transition: 1s;
    padding: 5px 20px;
    text-align: justify;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + .main{
    width: 80%;
    float: right;
    padding: 0 50px;
}
input[type="checkbox"]:checked + #sidebar{
    margin-left: 0;
    display: inline;
}

nav .nomi, nav .menu-btn{
    width: 50%;
    color: aliceblue;
    font-size: 1.5em;
}
nav .nomi{
    float: left;
}
nav .menu-btn {
    text-align: end;
    float: right;
}
nav .menu-btn label i{
    padding: 5px;
    font-size: larger;
    background-color: rgb(120, 58, 219);
}
.nav ul{
    margin: 0;
    /* border: 1px solid red; */
}
.nav ul li{
    margin-right: 10px;
    display: inline-block;
}
.nav ul li a{
    color: white;
    text-decoration: none;
}
.azolar{
    width: 90%;
    margin: auto;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: auto auto auto auto;
}
.azo{
}
.azo .azo-img{
    width: 20%;
    position: relative;
    border: 1px solid red;
}
.azo .azo-img img{
    display: block;
}
.azo .azo-img .data{
    bottom: 0%;
    color: azure;
    position: absolute;
    background: linear-gradient(rgb(59, 54, 54, 0.5), rgb(75, 69, 69, 0.5));
}